extends layout

append content
    form(method='post' action='/')
        input(type='text' name='user' placeholder='Escribe tu usuario' max-length='20' required)
        input(type='text' name='pass' placeholder='Llave' max-length='32' required)
        input(type='text' name='text' placeholder='Texto' max-length='500' required)
        label
          select
            option(value="0") AES-128
            option(value="1") AES-192
            option(value="2") AES-256
              
        input(type='submit' value='Encriptar')
