extends layout

block content
    h1 ¿Que Deseas hacer?
    .flex
        .half
            a(href='/crypt')
                p Encriptar
        .half
            a(href='/reports')
                p Desencriptar
  
