extends layout

block content
    h1 ¿Que Deseas hacer?
    .flex
        .half
            a(href='/message')
                p Encriptar
        .half
            a(href='/desencriptando')
                p Desencriptar
  
