// Este archivo se ejecuta predeterminadamente (como index.html cuando es html) y se debe especificar cual bloque será el primero en ejecutarse dentro de este
html(lang="es")
    head
        title AES
        link(rel='stylesheet', href='/css/master.css')
        block script
    body
        //  Dentro de la parte 'block' sera la seccion que sea dinamica dentro de la vista, es decir, que contedra otras vistas
        block content
